<%- include("header"); -%>
<div class="bg-sand">
  <div class="row" style="min-height: 100vh">
    <div class="col-6" style="display: grid;place-items:center;">
      <div>  
        <h1>Slot Booked Successfully!</h1>
        <%= booking.timestamp %>
        <img src="/images/bigtick.png" />
      </div>
      </div>
      <div class="bg-cream col-6" style="display: grid; place-items: center">
        <img src="/images/thanks.png" style="width: 75%";/>
      </div>
    </div>
    <%- include("footer"); -%>
  </div>
</div>
