<%- include("header"); -%>
<div class="container">
  <h1 class="mt-3">Slot Allocation Status</h1>
  <div class="container row justify-content-around mt-3" id="services"></div>
  <div id="gantt" class=""></div>
</div>
<script>
  const getCardHTML = (cardData) => {
    return `
        <div class="card col-2 mt-2" style="cursor:pointer;">
            <div class="card-body text-center">
            <p class="card-text">
                <img src="${cardData.image}" style="width: 100%" />
            </p>
            <small>
                ${cardData.name}
            </small>
            </div>
        </div>
        `;
  };
  window.addEventListener("DOMContentLoaded", async () => {
    const { serviceTypes } = (await cfgAxios.get("/dashboard/stats")).data;
    const cards = serviceTypes.map((serviceType) => {
      return getCardHTML(serviceType);
    });
    document.querySelector("#services").innerHTML = cards.join("");
    var tasks = [
      {
        id: "Task 1",
        name: "Redesign website",
        start: "2016-12-28",
        end: "2016-12-31",
        progress: 20,
        dependencies: "Task 2, Task 3",
      },
    ];
    var gantt = new window.Gantt("#gantt", tasks);
  });
</script>
