<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-dark">
    <footer>
        <div class="foot">
          <h1 class="foot-h1">Creator</h1>
            <div class="container" >
              <div class="row">
                <div class="col-sm border">
                  <img src="/images/image5.jpg" class="image5 img" >
                  <div class="para"> 
                    <p class="one">
                      "What Testimonal has to Say :
                      Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt
                      ut labore et dolore magna
                      aliqua."
                    </p>
                  </div>
                    <h5 class="four">Testimonal 1. Diseases had.</h5>
                </div>
                <div class="col-sm border">
                  <img src="/images/image6.jpg" class="image6 img" >
                  <div class="para"><p class="two">"Great service, efficient
                    communication and a really easy
                    way to get a mortgage with lots
                    of help and support to get the
                    right deal."</p>
                  </div><br>
                    <h5 class="five">Tony Stark, Heart Transplant</h5>
                </div>
                <div class="col-sm border">
                  <img src="/images/image7.jpg" class="image7 img" >
                  <div class="para"> <p class="three">"Great service, efficient
                    communication and a real
                    way to get a mortgage wit
                    of help and support to get
                    right deal."</p>
                  </div><br><br>
                    <h5 class="six">Bruce Wayne, Kemo Radia</h5>
                </div>
              </div>
              </div>
            </div>
    </footer>   
</div>
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/vendor/frappe-gantt.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
</body>
</html>
