<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
    <link
    rel="stylesheet"
    href="/vendor/frappe-gantt.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CollabHealth</title>
    <style>
  .bg-cream {
    background: #fdd9aa;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .bg-sand{
    background: #fef1e1;
  }
</style>
  </head>
  <body>
    <script defer>
      window.addEventListener("DOMContentLoaded",()=>{
        window.cfgAxios = window.axios.create({
          baseURL: window.location.origin,
          withCredentials: true
        });

        console.log("axios instance created")
      })
    </script>
      <nav class="navbar navbar-expand-lg navbar-light bg-steel">
        <a class="navbar-brand" href="/">
          <img src="/images/image.jpg" alt="Logo" style="width:40px;">
        </a>
        <a style="color:lightseagreen;" class="navbar-brand fw-bold" href="/">Collab<span style="color: white;">health</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item active navright btn-spacing">
              <a href="/dashboard"><button class="nav-link btn-warning btn" >Hospital<span class="sr-only">(current)</span></button></a>
            </li>
            <li class="nav-item active navright" >
              <a href="/"><button class="nav-link btn btn-warning" >Volunteer</button></a>        
            </li>
          </ul>
        </div>
  </nav>
</html>
