<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
    <title></title>
  </head>
  <body>
    <script defer>
      window.addEventListener("DOMContentLoaded",()=>{
        window.cfgAxios = window.axios.create({
          baseURL: window.location.origin,
          withCredentials: true
        });

        console.log("axios instance created")
      })
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-steel">
  <a style="color:lightseagreen;" class="navbar-brand" href="#">Collab<span style="color: white;">health</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active navright">
        <!--<button class="nav-link btn-info" >Hospital<span class="sr-only">(current)</span></button>-->
        <button class="btn btn-info">Hospital</button>
      </li>
      <li class="nav-item navright">
        <!--<button class="nav-link btn-info" >User</button>-->
        <button class="btn btn-info">User</button>
      </li>
    </ul>
  </div>
</nav>
</html>
