<%- include("header"); -%>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img style="width:100%; height:100%;" src="images/united.png">
    </div>
    <div class="col-sm">
      <h1 style="color:lightseagreen;" class="text-center">Collab<span style="color: black;">health</span></h1>
      <p class="text-center">Your Health Care Service Aggregator</p>
    </div>
    <div class="col-sm">
      <h3 class="text-center">Get started with colab health</h3>
      <button class="btn btn-info">Hospital</button>
      <button class="btn btn-info">User</button>
    </div>
  </div>
</div>
<%- include("footer");-%>
