<%- include("header"); -%>
<style>
  .head{
      position: relative;
      left: 200px;
      right:50px;
  }
  .head2{
      position: relative;
      left: 200px;
      right:50px;
  }
  .b1{
    display: inline-block;
    position: relative;
    top: 2px;
    left: 1000px;
    right:50px;
    bottom: 1000px;
  }
  .b2{
    position:relative;
    top:35px;
    left: 900px;
    right:50px;
  }
  .div1{
    background-color: rgb(140, 198, 198);
  }
</style>
<div class="div1">
    <h1 class="head">
      Daksha's foundation 
    </h1>
    <button type="button" class="b1">Dashboard!</button>
    <button type="button" class="b2">Diseases!</button>
    <h3 class="head2">
      collabhealth
    </h3>
    
</div>
  <%- include("footer");
-%>
